<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
 <form action="" name="calculus" action="/" method="POST">
    <label for="currency"><b>Waluta</b></label>
    <select name="currencies" id="currencies">
        <option value="USD" name="USD">USD</option>
        <option value="AUD" name="AUD">AUD</option>
        <option value="CAD" name="CAD">CAD</option>
        <option value="EUR" name="EUR">EUR</option>
        <option value="HUF" name="HUF">HUF</option>
        <option value="CHF">CHF</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="CZK">CZK</option>
        <option value="DKK">DKK</option>
        <option value="NOK">NOK</option>
        <option value="SEK">SEK</option>
        <option value="XDR">XDR</option>
    </select><br>
    <label for="quantity"><b>Ile waluty?</b></label>
    <input type="number" placeholder="" name="quantity">
    <button type="submit" >Przelicz</button><br>
 </form>
</body>